@charset "UTF-8";

.sudoku-grid {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.region-row {
    display: flex;
    flex-direction: row;
}

.region {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.conflicted-region {
    border: 2px solid red;
    transform: scale(1.1);
    z-index: 2;
}

input.cell {
    flex-basis: 33.3333333%;
    font-size: 1.5rem;
    border: solid thin;
    height: 2em;
    width: 0.6667em;
    text-align: center;
    padding: 0;
    outline: none;
}

input.conflicted-cell {
    color: red;
}

.conflicted-region input,
input.red-bordered-cell {
    border: solid 1px red;
}

:not(.conflicted-region) > input.red-bordered-cell {
    border-width: 2px;
}
