@charset "UTF-8";

.sudoku-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    width: 200px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.cell input {
    width: 100%;
    text-align: center;
    margin: 0px;
}
